@use '../abstracts' as *;

.footer {
  background: url("../../assets/images/noise_transparent@2x.png"),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #211F20;

  &__content {
    display: flex;
    gap: 160px;
    padding-top: 40px;
  }

  &__contacts {
    @extend %footer-block;
    max-width: 280px;
  }

  &__locations {
    @extend %footer-block;
    & > *:not(:last-child) {
      margin-bottom: 33px;
    }
  }

  &__title {
    margin-top: 16px;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
}