@use '../abstracts' as *;
@use '../components';

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 6;
  margin: 30px auto;
}

.header__logo {
  &_hidden {
    opacity: 0;
  }
}

.header__burger {
  display: none;
  z-index: 10;

  @media (max-width: $burger-menu) {
    margin-right: 23px; /* total distance from right border is 53: 23px margin + 30px padding. */
    display: block;
    transition: transform 0.3s;
    transform: rotate(0deg);
  }
  @media (max-width: $mobile) {
    margin-right: 43px;
  }

  &_active {
    transform: rotate(90deg);
  }
}

