@use '../abstracts/variables' as *;

.menu {
  // Inherits z-index from parent (header__container)
  transition: 0.3s;
  
  @media (max-width: $burger-menu) {    
    position: fixed;
    top: 0;
    right: -320px;
    width: 320px;
    height: 100vh;
    padding: 0 10px;
    background-color: $btn-dark;

    display: grid;
    grid-template-columns: 186px 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  &_active {
    right: 0;
  }

  &__logo {
    display: none;
    @media (max-width: $burger-menu) {
      display: block;
      margin-top: 30px;
      max-height: 60px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
  
    @media (max-width: $burger-menu) {
      grid-row: 2 / 3;
      grid-column: 1 / 3;
      flex-direction: column;
      gap: 40px;
      align-items: center;
    }
  }
  
  &__link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 160%;
    text-decoration: none;
    color: $top-grey;
    @media (max-width: $burger-menu) {
      font-size: 32px;
    }
  
    &_active {
      color: $active-link;
      border-bottom: 3px solid $primary;
      padding-bottom: 3px;
    }
  
    &:hover {
      color: $active-link;
    }
  }
}

/* Create dark overlay */
.overlay {
  display: none;
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: $btn-dark;
  opacity: 0.6;
  z-index: 5;

  &_active {
    display: block;
  }
}

.scroll-locked {
  overflow: hidden;
}


