@use '../abstracts' as *;

.pets {
  background: $pets-section-bg;

  &__content {
    @include section-content-padding;
    display: flex;
    flex-direction: column;
    align-items: center;
    & > *:not(:last-child) {
      margin-bottom: 60px;
      @media (max-width: $pets-mobile-2) {
        margin-bottom: 42px;
      }
    }
  }

  &__title {
    @extend %block-title;
    text-align: center;
    max-height: 64px;
  }

  &__button {
    @extend %button;
  }
}
