@use '../abstracts' as *;

.carousel {
  display: grid;
  @include carousel-columns;
  @media (max-width: $tablet) {
    @include carousel-columns( minmax(580px, 630px) );
  }
  @media (max-width: 714px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 435px 52px;
    row-gap: 20px;
  }

  &__slides-wrapper {
    overflow: hidden;
    grid-column: 3 / 4;
    @media (max-width: $pets-mobile-1) {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
      gap: 20px;
    }

    @media (max-width: $tablet) {
      .carousel__card:nth-of-type(3) {
        display: none;
      }
    }
    @media (max-width: $pets-mobile-2) {
      .carousel__card:nth-of-type(2) {
        display: none;
      }
    }
  }

  &__slides-container {
    position: relative;
    left: -100%; // one slide width
    display: flex;
    width: 300%; 
    height: 435px;
  }

  &__slide-left,
  &__slide-center,
  &__slide-right {
    @extend %carousel-slide;
  }

  &__left-column,
  &__right-column {
    @extend %flex-centered;
    grid-row: 1 / 2;
    @media (max-width: $pets-mobile-1) {
      grid-row: 2 / 3;
    }
    z-index: 10;
  }

  &__left-column {
    grid-column: 1 / 2;
  }

  &__right-column {
    grid-column: 5 / 6;
    @media (max-width: $pets-mobile-1) {
      grid-column: 2 / 3;
    }
  }

  &__left-arrow {
    @extend %carousel-button;
  }

  &__right-arrow {
    @extend %carousel-button;
    transform: rotate(180deg);
  }
}

@keyframes move-left {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}

@keyframes move-right {
  from {
    left: -100%;
  }
  to {
    left: -200%;
  }
}

.transition-left {
  animation: move-left 2s;
}

.transition-right {
  animation: move-right 2s;
}