@use '../abstracts/variables' as *;

.logo {
  display: block;
  cursor: pointer;

  &__title {
    font-size: 32px;
    line-height: 110%;
    font-weight: 400;
    letter-spacing: 0.06em;
    margin-bottom: 10px;
    color: $primary;
  }
  
  &__subtitle {
    margin-left: 4px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: $white;
  }
}