// Colors
$primary: #F1CDB3;
$primary-light: #FDDCC4;
$white: #FFFFFF;
$active-link: #FAFAFA;
$top-grey: #CDCDCD;
$bottom-grey: #B2B2B2;
$btn-dark: #292929;
$title-dark: #545454;
$paragraph-dark: #4C4C4C;

// Breakpoints
$tablet: 1025px;
$mobile-l: 769px;
$mobile: 391px;
$mobile-sm: 321px;
$burger-menu: 767px;