// Colors
$primary: #F1CDB3;
$primary-light: #FDDCC4;
$white: #FFFFFF;
$active-link: #FAFAFA;
$top-grey: #CDCDCD;
$bottom-grey: #B2B2B2;
$btn-dark: #292929;
$title-dark: #545454;
$paragraph-dark: #4C4C4C;
$pets-section-bg: #F6F6F6;
$card-background: #FAFAFA;

// Breakpoints
$bp-laptop: 1279px;
$bp-to-column: 940px;
$bp-mobile: 767px;
$bp-mobile-sm: 390px;
// ==================================================

// Dimensions
$slideWidthDesktop: 990px;
$slideWidthLaptop: 580px;
$slideWidthMobile: 270px;